tmp/
*.[0-9][0-9]
*.tmp
*.bak
*.swp
*~.nib

# Private scripts, do not add or commit
Private/

# My customized crontab entries
cron/cronjobs
cron/crontab_my.in
cron/crontab-models.in

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
